*{
    margin: 0%;        padding: 0%; }

.cabecalho{
    background-color:linear-gradient(rgb(80, 133, 182), #01003f88);color: black; display: flex;justify-content: space-around; align-items: center; padding: 24px 0;  }
    
.cabecalho_imagem{
    width: 12%; }
    
.cabecalho_titulo{
    font-size: 50px; }
    
 .cabecalho_lista_item{ margin: 10px 0px 10px 0px; font-size: 12px; }
    
 .apresentaçao_trabalho{ background-image: linear-gradient(rgb(80, 133, 182), #01003f88);display: flex;justify-content: space-around;align-items: center;padding: 24px 0; }
    
.titulo_apresentaçao_trabalho{ font-size: 30px;}
 
.imagem_arvore{width: 15%; }