*{
    margin: 0%;        padding: 0%; }

.cabecalho{
    background-image:linear-gradient(rgb(80, 133, 182), #01003f88);color: black; display: flex;justify-content: space-around; align-items: center; padding: 24px 0;  }
    
.cabecalho-imagem{
    width: 36%;padding:left 0,;  }
    
.cabecalho_titulo{
    font-size: 50px; }
    
 .cabecalho_lista_item{ margin: 15px 0px 15px 0px; font-size: 12px; }
    
 .apresentaçao_trabalho{ background-image: linear-gradient(rgb(0, 0, 0), #000000);display: flex;justify-content: space-around;align-items: center;padding: 24px 0; }
    
.titulo_apresentaçao_trabalho{ font-size: 30px;}
 
.imagem_de_pimenta {width: 15%; left: 0;right:0}